body{
    background-color: #FF731A;
    color: #fff;
}

#toprectangle {
    display: flex;
    align-items: center;
    width: 1340px;
    height: 115px;
    margin-top: 36px;
    margin-left: 43px;
    border: 1px solid #fff;
    position: relative;   
}

#toprectangle #numbers {
    position: absolute;
    display: inline;
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;  
    margin-left: 42px;  
    margin-top: -6px;
}

#toprectangle #numbers p {
    margin-left: 145px;
}

#toprectangle a {
    text-decoration: none;
    color: #fff;
    width: 187px;
    height: 47px;
    margin-top: 110px;
    margin-left: 100px;
}

#toprectangle p {
    display: inline;
    width: 187px;
    height: 47px;
    margin-left: 420px;
}

#toprectangle img {
    display: inline;
    width: 40px;
    height: 40px;
}

#signature img {
    width: 89px;
    height: 96px;
    top: 45px;
    left: 56px;
    object-fit: cover;
    object-position: -6%;
}

#leftrectangle {
    border: 1px solid #fff;
    width: 115px;
    height: 850px;
    margin-top: -117px;
    margin-left: 43px;
    
}

#leftrectangle #icons {
    margin-top: 680px;
    margin-left: 35px;
}

#leftrectangle img {
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

#main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: 160px;
    margin-top: -580px;
    width: 1100px;
}

#main #text {
    width: 50%;
    margin-top: -80px;
}

#main h1 {
    font-family: Montserrat;
    font-size: 48px;
    margin-bottom: 20px;   
    width: 150%;
}

#main h2 {
    font-size: 18px;
    line-height: 1.6;
    font-family: Montserrat;
    font-weight: 400;
    width: 150%;
}

#main img {
    width: 581px;
    height: 402px;
    margin-top: -80px;
    margin-left: 250px;
}